:root {
  --black: rgb(0, 0, 0);
  --white: rgb(255, 255, 255);

  /* Grays */
  --gray-1: rgb(250, 260, 270);
  --gray-2: rgb(200, 210, 220);
  --gray-3: rgb(170, 180, 190);
  --gray-4: rgb(130, 140, 150);
  --gray: rgb(100, 110, 120);
  --gray-6: rgb(70, 80, 90);
  --gray-7: rgb(50, 60, 70);
  --gray-8: rgb(40, 50, 60);
  --gray-9: rgb(30, 40, 50);

  /* Blues */
  --blue-4: rgb(95, 165, 250);
  --blue: rgb(65, 130, 245);
  --blue-6: rgb(40, 100, 235);

  /* Reds */
  --red-4: rgb(250, 115, 115);
  --red: rgb(235, 80, 80);
  --red-6: rgb(220, 40, 40);

  /* Orange */
  --orange: rgb(250, 115, 20);

  /* Yellow */
  --yellow: rgb(250, 210, 75);

  /* Greens */
  --green-3: rgb(135, 240, 170);
  --green-4: rgb(75, 220, 130);
  --green: rgb(35, 200, 95);
  --green-6: rgb(22, 160, 75);
  --green-7: rgb(20, 130, 60);
  --green-8: rgb(20, 100, 50);
  --green-9: rgb(20, 85, 45);
}
