:root {
  /* Responsive breakpoints */
  --screen-small: 720px;
  --screen-wide: 2560px;

  /* Margins & padding */
  --margin: 0.5rem;
  --padding: var(--margin);
  --gaps: var(--margin);
}

@media screen and (max-width: var(--screen-small)) {
  :root {
    --margin: 0.25rem;
    --padding: var(--margin);
    --gaps: var(--margin);
  }
}

/* TODO: responsive design for ultrawide screens */
/* stylelint-disable-next-line block-no-empty */
@media screen and (min-width: var(--screen-wide)) {
}
